.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Menu Start button CSS stuff */
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background:    #ffffff;
  border:        2px solid #000000;
  border-radius: 13px;
  box-shadow:    10px 10px #444444;
  padding:       20px 45px;
  color:         #000000;
  display:       inline-block;
  font:          normal bold 23px/1 "Overlock", cursive;
  text-align:    center;
  text-shadow:   1px 1px #0000ff;
  margin-top: 100px;
  }

/* .button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  margin-top: 100px;
}

.button5:hover {
  background-color: #555555;
  color: white;
} */

.menu {
  background-image: url(/images/DM.png);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.door {
  margin: 50px;
}

.Win {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.winText {
  color: azure;
  text-align: center;
  margin-top: 100px;
}

.winText2 {
  color: azure;
}

.GameOver {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.levels {
  background-image: url(/images/dungeonWall.jpg);
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.status {
  color: azure;
}


